body {
    background-color:hsl(220, 15%, 55%);
}

.fullCard {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    height: 300px;
    width: 200px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
}

.cardContent {
    font-family: 'Montserrat', sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}